 .sticky-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Adjust the z-index as needed */
  } 
  
/* Default text color */
.navbar-dark .navbar-nav .nav-link {
  color: white;
}

/* Text color when navbar is sticky */
.sticky-navbar .navbar-nav .nav-link {
  color: black;
  font-weight: 800;
}

/* .navbar {
  background-color: transparent; 
}

@media (max-width: 500px) {
  .navbar {
    background-color: rgb(7, 34, 68);
  }
} */

/* .logo {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  width: auto;
  height: 120px;
}

.logo-small {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  width: auto;
  height: 60px;
}

/* Media query for screen width below 500px */
/* @media (min-width: 500px) {
  .logo {
    display: none; /* Hide the larger logo when below 500px */
  